.root {
    -fx-background-color:white;
}

.sideMenu {
	-fx-background-color:#0a3d62
	
	}

.sideMenuButton {
	-fx-background-color:#0a3d62;
	-fx-text-fill:white;
	-fx-font-size: 13px;
	-fx-focus-color: transparent;
	-fx-alignment: center-left;
	}
	
.sideMenuButton:hover { 
    -fx-background-color:#072D47;
}

.sideMenuButton:selected { 
    -fx-background-color:#3c6382;
}